{% extends "base.html" %}

{% block content %}
<h2>{{ title }}</h2>
{% for item in routes%}
<div class="col-md6 border rounded">
    <h3>{{item.route_name}}</h3>
    <div>{{ item.start_date }}, {{ item.start_time }}</div>
    <div>{{ item.end_date }}, {{ item.end_time }}</div>
    <div>Откуда: {{ item.start_point }}, Куда: {{ item.end_point }}</div>
    <div>
        <a class="btn btn-outline-secondary" href="/edit_route/{{ item.id }}">
            Изменить
        </a>
        <a class="btn btn-outline-danger" href="/delete_route/{{ item.id }}">
            Удалить
        </a>
    </div>
</div>
{% endfor %}
    <a class="btn btn-outline-primary" href="/add_route">Добавить маршрут</a>
{% endblock %}